@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #404040;
    --off-white:#F3F4F6;


}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    margin: 2rem 0rem;
}

/* Spaces */

.margin-md{
        margin: 2rem;
    }
    
/* Container */
.container {
    text-align: center;
    padding: 0rem 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.container-fluid {
    max-width: 650px;
    margin: auto;
}

.container-center {
    text-align: center;
    margin: 0 auto;
}
li.section {
    width: 33.33%;
    padding: 0px 15px !important;
    margin-bottom: 30px;
}
.projects-ul .section .container {
    padding: 50px;
    box-shadow: #000000 0px 5px 15px -10px;
    height: 100%;
}
.projects-ul{
    padding-bottom: 40px !important;
}
/* Links */

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    color:white;

}


.link-primary {
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 00.5rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

a.link-secondary{
    border-radius: 0;
    position: relative;
    z-index: 1;
    border: #000000 solid 2px;
}

a.link-secondary:before{
   content: '';
   background-color: black;
   width: calc(100% - 0px);
   position: absolute;
   left: 10px;
   bottom: -10px;
   height: calc(100% - -5px);
   z-index: -1;
}

.link-secondary {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    color: black;
    padding: 0.5rem 1rem;
}


/* Lists */

.list-non-bullet {
    list-style: none;
    padding: 0;

}

.list-item-inline {
    display: inline;
    margin: 0 20px;
}

/* Navigation */

.navigation {
    padding: 20px 0px 15px 20px;
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.navigation .list-non-bullet{
    padding: 0.7rem;
}

.navigation .link {
    color: white;
    padding: 0 0px 5px 0;
    letter-spacing: 1px;
}


.navigation .nav-brand {
    font-weight: bold;

}

.navigation .nav-pills {
    text-align: right;
}

.link-active{
    border-bottom: 4px solid var(--off-white);
}


/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;

}


.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.hero .hero-heading {
    text-align: center;
    font-size: 2rem;
    color: #6B7280;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 1px;

}
 .headingg {
    text-align: center;
    color: var(--primary-color);
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 19px;
}
.section{
    padding: 2rem;
}

/* Sections */
.site-bttn a {
    margin: 0 10px;
}
.section h1 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
}
.nav-brand a{
    color: #ffffff;
}
p {
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 14px;
}
.ow {
    background-color: var(--off-white);
    padding-bottom: 50px;
}
.site-bttn {
    margin: 30px 0 0 0;
}
.centers {
    min-width: 600px;
    margin: auto;
}
.projects-ul{
    display: flex;
    flex-wrap: wrap;
}

/* footers */
.footer{
    background-color:var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
} 

.footer {
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    color: white;
    padding-inline-start: 0px;

}

.footer li a.link{
    font-size: 2rem;
}

.size{
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    margin: 0;
    letter-spacing: 1px;

}
.nav-brand {
    width: 50%;
    float: left;
}

.foot-icon{
    width: 25%;
    padding: 15px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.foot-icon .foot-main{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(109, 108, 108);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
   
}
@keyframes glow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
}
.foot-main i{
    text-align: center;
    font-size: 23px;
    color: rgb(107, 107, 107);
    transition: 1s;
}
.foot-main:nth-child(1){
    
    left: 2%;
}
.foot-main:nth-child(2){
    
    left: 15%;
}
.foot-main:nth-child(3){
    
    left: 3%;
}
.foot-main:nth-child(1):hover{
    border: 3px solid rgb(100, 98, 98);
    animation: glow 1.5s ease-out infinite alternate;
}
.foot-main:nth-child(1):hover i{
    color: rgb(100, 98, 98);
}
.foot-main:nth-child(2):hover{
    border: 3px solid rgb(100, 98, 98);
    animation: glow 1.5s ease-out infinite alternate;
}
.foot-main:nth-child(2):hover i{
    color: rgb(100, 98, 98);
}
.foot-main:nth-child(3):hover{
    border: 3px solid rgb(100, 98, 98);
    animation: glow 1.5s ease-out infinite alternate;
}
.foot-main:nth-child(3):hover i{
    color: rgb(100, 98, 98);
}
.foot-main:nth-child(4):hover{
    border: 3px solid rgb(100, 98, 98);
    animation: glow 1.5s ease-out infinite alternate;
}
.foot-main:nth-child(4):hover i{
    color: rgb(100, 98, 98);
}
.foot-main:nth-child(5):hover{
    border: 3px solid rgb(100, 98, 98);
    animation: glow 1.5s ease-out infinite alternate;
}
.foot-main:nth-child(5):hover i{
    color: rgb(100, 98, 98);
}
.foot-title span{
    color: rgb(73, 73, 73);
}
.foot-title a{
    color: #337ab7;
    text-decoration: none;
}
@media (max-width:1000px){
    .foot-end{
        width: 80%;
    }
    .foot-icon{
        width: 80%;
    }
}
@media (max-width:750px){
    .foot-end{
        width: 90%;
    }
    .foot-icon{
        width: 100%;
    }
}
@media only screen and (max-width:1170px){
    .projects-ul .section .container{
        padding: 30px;
    }
    }
    
    @media only screen and (max-width:850px){
    .projects-ul .section .container {
        padding: 20px;
    }
    }
    @media only screen and (max-width:767px){
    li.section {
        width: 100%;
    }
    }